Thank you for using FlightBooker!
=================================

Congratualtions <%= @user.username %>!
Please review your trip details below

Flight Details:
<%= link_to 'View Trip Details', @url %>

Departing City: <%= @flight.departing_airport.code %> - <%= @flight.departing_airport.location %>
Departure Date: <%= @flight.departure_date_formatted %>
Departure Time: <%= @flight.departure_time_formatted %>

Arriving City: <%= @flight.arriving_airport.code %> - <%= @flight.arriving_airport.location %>
Arrival Date: <%= @flight.arrival_date_formatted %>
Arrival Time: <%= @flight.arrival_time_formatted %>

Total Estimated Flight Time: <%= "#{pluralize(@flight.duration_hours, 'hour')} #{@flight.duration_minutes} minutes" %>

Passengers:

<% @booking.passengers.each do |passenger| %>
  <%= passenger.name.titleize %></li>
<% end %>