<h1>Thank you for using FlightBooker!</h1>
<hr>
<h2>Congratualtions <%= @user.username %>!</h2>
<p>Please review your trip details below.</p>
<h2>Flight Details</h2>
<br>
<%= link_to 'View Trip Details', @url %>
<br>
<p>Departing City: <%= @flight.departure_date_formatted %></p>
<p>Departure Date: <%= @flight.departing_airport.code %> - <%= @flight.departing_airport.location %></p>
<p>Departure Time: <%= @flight.departure_time_formatted %></p>
<br>
<p>Arriving City: <%= @flight.arriving_airport.code %> - <%= @flight.arriving_airport.location %></p>
<p>Arrival Date: <%= @flight.departure_date_formatted %></p>
<p>Arrival Time: <%= @flight.departure_date_formatted %></p>

<h2>Passengers</h2>
<ul>
  <% @booking.passengers.each do |passenger| %>
    <li><%= passenger.name.titleize %></li>
  <% end %>
</ul>