<div class="group">
  <div class="pl-2 sm:pl-10 flex justify-between gap-2 sm:gap-5">
    <div class="flex flex-col basis-1/6 items-end">
      <p class="text-xs sm:text-md text-gray-800 whitespace-nowrap"><%= flight.departure_date_formatted %></p>
      <p class="text-md sm:text-lg font-bold text-gray-800"><%= flight.departure_time_formatted %></p>
      <p class="text-lg tracking-wide text-gray-800"><%= flight.departing_airport.code %></p>
    </div>
    
    <div class="w-full flex flex-col items-center justify-center relative">
      <p class="-mt-7 mb-3 text-xs text-gray-800 whitespace-nowrap">
        <%= "#{pluralize(flight.duration_hours, 'hour')} #{flight.duration_minutes} min" %>
      </p>
      <i class="fa-solid fa-plane absolute top-6.2 text-blue-500 ease-in-out duration-1000 group-hover:rotate-[360deg] group-hover:scale-150"></i>
      <hr class="mx-auto w-full border-t-[3px] bg-gray-300 rounded">
    </div>

    <div class="flex flex-col basis-1/6 items-start">
      <p class="text-xs text-gray-800 whitespace-nowrap"><%= flight.arrival_date_formatted %></p>
      <p class="text-md sm:text-lg font-bold text-gray-800"><%= flight.arrival_time_formatted %></p>
      <p class="text-lg tracking-wide text-gray-800"><%= flight.arriving_airport.code %></p>
    </div>

    <div class="px-2 sm:pr-0 flex justify-center items-center sm:basis-2/6 border-l-2">
      <p class="font-bold text-md text-green-600">$<%= flight.price %></p>
    </div>
  </div>
</div>