<% if flights %>
  <table class='table-auto'>
    <thead>
      <tr>
        <th>Departing Airport</th>
        <th>Arriving Airport</th>
        <th>Date</th>
        <th>Departure Time</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <% flights.each do |flight| %>
        <tr class=''>
          <td><%= flight.departing_airport.code %></td>
          <td><%= flight.arriving_airport.code %></td>
          <td><%= flight.departure_date.strftime('%m/%d/%Y') %></td>
          <td><%= flight.departure_time.strftime('%l:%M%P') %></td>
          <td><%= flight.duration %> hours</td>
          <td><%= link_to 'Book Flight',
                  new_booking_path(
                    flight_id: flight.id,
                    passenger_count: params[:airport][:passenger_count]
                  ) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
