<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-blue-400 mb-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
      <%= image_tag('plane.svg', class: "h-6 mr-3 sm:h-9 inline-block self-center", alt: 'Logo') %> 
      <%= link_to 'Flight Booker', root_path, class: 'text-lg font-semibold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap text-white justify-self-start' %>
      <span class='text-sm leading-relaxed inline-block mr-4 py-2 whitespace-nowrap text-white justify-self-start'><%= "Account: #{current_user.username}" if current_user %></span>
      <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('example-collapse-navbar')">
        <i class="ri-menu-line"></i>
      </button>
    </div>
    <div class="lg:flex flex-grow items-center hidden" id="example-collapse-navbar">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to root_path, class: "px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" do %>
              <i class="ri-plane-line text-lg leading-lg text-white opacity-75"></i><span class="ml-2">My Flights</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= button_to destroy_user_session_path, class: "px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75", method: :delete do %>
              <i class="ri-logout-circle-line text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Sign out</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" do %>
              <i class="ri-login-circle-line text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Sign in</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<script>
  function toggleNavbar(collapseID){
    document.getElementById(collapseID).classList.toggle("hidden");
    document.getElementById(collapseID).classList.toggle("flex");
  }
</script>