<div class="mx-5 max-w-sm md:max-w-lg mt-12 md:mt-52 bg-inherit">
  <%= image_tag 'splash.png', class: 'mb-3' %>
  <h2 class="text-2xl mb-4 font-bold lowercase text-center whitespace-nowrap tracking-[.3rem] text-blue-400">Login</h2>
  
  <div class="p-8 mb-4 bg-sky-200 border-2 border-blue-400 rounded-2xl shadow-blue-50">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: 'font-medium text-sm tracking-wider text-gray-700' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'py-2 px-4 block w-full border-2 border-blue-400 rounded-md appearance-none focus:outline-none leading-normal' %>
        <%= render 'devise/shared/error_messages', resource: resource, param_type: :email %>
      </div>
    
      <div class="mb-3">
        <%= f.label :password, class: 'font-medium text-sm tracking-wider text-gray-700' %><br />
        <%= f.password_field :password, autocomplete: "current-password" , class: 'py-2 px-4 block w-full border-2 border-blue-400 rounded-md appearance-none focus:outline-none leading-normal' %>
        <%= render 'devise/shared/error_messages', resource: resource, param_type: :password %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="flex items-center mb-3 text-sm text-gray-700">
          <%= f.check_box :remember_me, class: 'outline-0 border border-gray-300 rounded focus:outline-none transition duration-200 cursor-pointer mr-1' %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="flex justify-center">
        <%= f.submit "Log in", class: 'btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="text-sm text-center">
    <p class="mb-1 text-gray-700">Don't have an account yet? <%= link_to 'Sign Up', new_registration_path(resource_name), class: 'text-blue-400' %></p>
    <p class="text-gray-700">Forgot password? <%= link_to 'Reset Password', new_password_path(resource_name), class: 'text-blue-400' %></p>
  </div>
</div>
